.idea/
backups/
venv/
.venv/
__pycache__/
*.py[cod]
*~
1.0.0.0.txt

case_*.json
local_presets/

case_inventory.json
case_items.json
case_items.json~
case_rarities.json
case_settings.json
case_market.json
case_stats.json
case_stats.json~
case_simulator_data.json
